

body{
	background: #d2d2c1 url('pictures/fundo.png');
	font: 16px Arial, Helvetica, sans-serif;
}

a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

#main{
		width: 900px; /* DEFINE A LARGURA MAXIMA DOS ELEMENTOS */
}

#menu{
	background: #c5c5b2;
	border: 1px solid gold;
	padding: 18px;
}

#inhalt{
	background: #e8e8d9;
	padding: 10px;
}

.kampagne{
	border: 10px solid #c3c3ae;
	}



.zentralisieren{
	text-align: center;
}

.titulo{
	color: #8c8c8c;
	font-size: 1.2em;
}